body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ui {
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(0,0,0,0.4);
  padding: 8px 12px;
  border-radius: 6px;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  z-index: 1;
  user-select: none;
}

